**/*.tfstate
**/*.tfstate.*
**/.terraform/
**/*.tfvars
**/.env
hc/local_settings.py
.git
.github
**/.DS_Store
# --- Python caches & local data ---
**/__pycache__
**/*.pyc
*.sqlite
static-collected
terraform-aws-ecs-fargate
Dockerfile
.dockerignore
stuff
requirements-dev.txt
mypy.ini
